.form {
    display: flex;
    border-top: 2px solid rgba(112, 124, 151, 0.15);
    height: 60px;
    padding-left: 5%;
}
  
.input {
    border: none;
    border-radius: 0;
    width: 80%;
    font-size: 1em;
    font-family: inherit;
}

input::placeholder {
    color: rgba(112, 124, 151, 0.5);
}
  
input:focus, textarea:focus, select:focus{
    outline: none;
}

.sendButton {
    height: 100%;
    cursor: pointer;
    margin-left: auto;
}